
<h4>Categorias : </h4>
<a href="/admin/categorias/adicionar"><button type="button" class="btn btn-info">Adicionar Categoria</button></a>


{{#each categorias}}
<div class="card mt-3">
  <div class="card text-center">
  <div class="form-group">
      <div class="card-header">
           <h4>{{nome}}</h4>
  </div>
  <div class="card-body">
     <small>Slug: {{slug}}</small>
     <br>
     <small>Data de Criação : {{#formatDate date}}{{/formatDate}}</small>         
  </div>
 </div>
  <div class="card-footer text-muted">
    <a href="/admin/categorias/edit/{{_id}}"><button type="submit" class="btn btn-info">Editar</button></a>
    <form action="/admin/categorias/excluir" method="POST">
      <input  type="hidden" name="id" value="{{_id}}">
      <button type="submit" class="btn btn-danger mt-2">Excluir</button>
    </form>
</div>
</div>
{{else}}
<h4>Nenhuma categoria Registrada</h4>
{{/each}}

